<div layout="column" layout-fill><!--Toolbar-->

    <md-content class="md-default-theme" flex md-scroll-y>
        <div layout-padding></div>
        <!--Lista de loterias-->
          <md-card flex class="md-whiteframe-z2" layout="row" style="height:544px">
            <div flex="40" flex-xs="100" style="height:300px" md-scroll-y>
              <md-toolbar class="toolbarCabecera md-whiteframe-z1 site-content-toolbar" ng-show="!showSearch">
                <div class=" cabeceraToolbar md-toolbar-tools">
                  <h2>Conversaciones</h2>
                  <span flex></span>
                  <md-button aria-label="Buscar" ng-click="showSearch=!showSearch">
                    <ng-md-icon icon="search" size="26"></ng-md-icon>
                  </md-button>
                </div>
              </md-toolbar>
              <md-toolbar class="md-hue-1" ng-show="showSearch">
                <div class=" cabeceraToolbar md-toolbar-tools">
                  <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                  </md-button>
                  <md-input-container flex>
                    <label>&nbsp;</label>
                    <input ng-model="search.who" placeholder="Ingrese el nombre">
                  </md-input-container>
                  <md-button aria-label="Search">
                    <ng-md-icon icon="search"></ng-md-icon>
                  </md-button>
                </div>
              </md-toolbar>
                <md-content flex  md-scroll-y style="height:480px;border-right: 1px solid #e9e9e9;">
                  <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in empleados" ng-click="mostrarDetalles(item)">
                      <img ng-src="{{item.foto}}?{{$index}}" class="fotoEmpleado">
                      <div class="md-list-item-text">
                        <h3>{{item.nombre}} {{item.apellidos}}</h3>
                        <p>hola</p>
                      </div>
                      <md-divider md-inset ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
            </div>
            <div flex hide show-gt-xs>
              <md-toolbar class="toolbarCabecera md-whiteframe-z1 site-content-toolbar">
                <div class="cabeceraToolbar  md-toolbar-tools">
                    <img ng-src="{{userFrom.foto}}" class="foto">
                   <h2>{{userFrom.nombre}} {{userFrom.apellidos}}</h2>
                   <span flex></span>
                   <md-button aria-label="Actualizar">
                     <ng-md-icon icon="sync" size="24"></ng-md-icon>
                   </md-button>
                   <md-button aria-label="Eliminar">
                     <ng-md-icon icon="delete" size="24"></ng-md-icon>
                   </md-button>
                </div>
              </md-toolbar>
              <md-card-content style="height:434px" >
              </md-card-content>
              <div class="contenedorMensaje" layout="row" layout-align="end">
                <md-button aria-label="Actualizar">
                  <ng-md-icon icon="insert_emoticon" size="28"></ng-md-icon>
                </md-button>
                <md-input-container md-no-float class="md-block" flex>
                  <input  placeholder="Mensaje">
                </md-input-container>
                <md-button ng-click="send()" aria-label="Enviar">
                  <ng-md-icon icon="send" size="28"></ng-md-icon>
                </md-button>
              </div>
            </div>
          </md-card>
        <!--CONTENEDOR DE VENTA-->
    </md-content>
</div>
