<div layout="column" layout-fill>
  <md-button class="md-fab md-fab-bottom-right botonFlotante" aria-label="Add" ng-click="showDialog($event)">
        <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
      <!--Toolbar-->
    <md-toolbar class="md-whiteframe-z2 site-content-toolbar" layout="row">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h1 class="md-toolbar-tools">Empleados</h1>
    </md-toolbar>
    <md-content class="md-default-theme" flex md-scroll-y>
        <div layout-padding></div>
        <!--Lista de loterias-->
          <md-card flex class="md-whiteframe-z2">
            <md-toolbar ng-show="!showSearch">
              <div class=" cabeceraToolbar md-toolbar-tools">
                <h2>Lista de Empleados</h2>
                <span flex></span>
                <md-button aria-label="Buscar" ng-click="showSearch=!showSearch">
                  <ng-md-icon icon="search" size="26"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-toolbar class="md-hue-1" ng-show="showSearch">
              <div class=" cabeceraToolbar md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                  <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <md-input-container  flex>
                  <label>&nbsp;</label>
                  <input ng-model="search.who" placeholder="Ingrese el nombre">
                </md-input-container>
                <md-button aria-label="Search">
                  <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
              <md-content>
                <md-list>
                  <md-list-item class="md-2-line" ng-repeat="item in empleados">
                    <img ng-src="{{item.foto}}?{{$index}}" class="fotoEmpleado">
                    <div class="md-list-item-text">
                      <h3>{{item.nombre}}</h3>
                      <h4>{{item.cargo}}</h4>
                    </div>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </md-content>
          </md-card>
        <!--CONTENEDOR DE VENTA-->


    </md-content>
</div>
